<div class="container py-5">
  <h1>Form </h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        {{ userForm.value | json }}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            required
            [class.is-invalid]="email.invalid && email.touched"
            name="email"
            type="email"
            [(ngModel)]="userModel.email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            #email="ngModel"
          />
          <small class="text-danger" *ngIf="email.invalid && email.touched">
            Email Required
          </small>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            [(ngModel)]="userModel.password"
            class="form-control"
            id="exampleInputPassword1"
            #password="ngModel"
            required
            pattern="^\d{8}$"
          />
          <div *ngIf="password.errors && password.touched">
            <small class="text-danger" *ngIf="password.errors['required']">
              Password Required
            </small>
            <small class="text-danger" *ngIf="password.errors['pattern']">
              Password must be 8 letters at least
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleSelect" class="form-label">Adsress</label>
          <select
            id="exampleSelect"
            class="form-select"
            [(ngModel)]="userModel.address"
            #selectList="ngModel"
            name="selectList"
          >
            <option *ngFor="let ads of address">
              {{ ads }}
            </option>
          </select>
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            [(ngModel)]="userModel.isChecked"
            name="checkList"
            #checked="ngModel"
            class="form-check-input"
            id="exampleCheck1"
          />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
