<div class="container mt-4">
  <table class="table table-bordered table-hover table-striped rounded shadow">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Position</th>
        <th scope="col">Start Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of employees; let i = index"
        [ngClass]="{ 'table-success': i % 2 === 0, 'table-info': i % 2 !== 0 }"
      >
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.startDate | date }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div *ngIf="errMsg" class="text-danger bg-light text-center">
        {{errMsg}}
      </div>
    </div>
  </div>
</div>
