<h3 class="text-center py-5">Day 3</h3>
<div class="container py-2">
  <!-- <div class="row">
    <div class="text-center">
      <h2 class="text-danger py-2">String Pipe</h2>
      <h5>{{ lowerCase | lowercase }}</h5>
      <h5>{{ uperCase | uppercase }}</h5>
      <h5>{{ lowerCase | slice : 6 }}</h5>
      <h5>{{ lowerCase | slice : 3 : 5 }}</h5>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="text-center">
      <h2 class="text-info py-2">Number Pipe</h2>
      <h5>{{ grades }}</h5>
      <h5>Grades: {{ grades | number : "1.2-3" }}</h5>
      <h5>Grades: {{ grades | number : "4.2-3" }}</h5>
      <h5>Precent: {{ 0.3 | percent }}</h5>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="text-center">
      <h2 class="text-primary py-2">Date Pipe</h2>
      <h5>{{today}}</h5>
      <h5>Today Date: {{ today | date : "dd/MM/yyyy" }}</h5>
      <p>Default date: {{ today | date }}</p>
      <p>Full date: {{ today | date : "fullDate" }}</p>
      <p>Short date: {{ today | date : "shortDate" }}</p>
      <p>Custom date (yyyy-MM-dd): {{ today | date : "yyyy-MM-dd" }}</p>
      <p>Custom time (h:mm a): {{ today | date : "h:mm a" }}</p>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="text-center">
      <h2 class="text-success py-2">Currency Pipe</h2>
      <h3>Price: {{currency}}</h3>
      <h5>Price: {{ currency | currency }}</h5>
      <h5>Price: {{ currency | currency:"EUR" }}</h5>
      <h5>Price: {{ currency | currency:'EGP':'LE':'1.2-2' }}</h5>
      <h5>Price in EGP:  {{ currency | currency:'EGP':'symbol':'1.2-2' }}</h5>
    </div>
  </div> -->

  <div class="row">
    <div class="text-center">
      <h2 class="text-danger py-2">Custom Pipe</h2>
      <h5>Custom Pipe: {{ 5 | square }}</h5>
      <h5>Name: {{ 'Lamiaa' | reverseString2}}</h5>
    </div>
  </div>
</div>
