<div class="container">
  <div class="row">
    <h1 class="text-center text-primary">Welcome in Admin Dashboard</h1>
  </div>
  <div class="row py-5">
    <div class="col-md-8 offset-md-2">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/list"
            >List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/add"
            >Add Employee
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
